.room-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.room-form button {
  margin-top: 10px;
  max-width: 200px;
  border-radius: 10px;
  width: 100%;
  align-self: center;
}

.room-form .buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
}
